<!DOCTYPE html>
<html ng-app='MovieApp'>
<head>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js'></script>
  <script src='./js/app.js'></script>
  <script src='./js/routes.js'></script>
  <script src='./js/filters.js'></script>
  <script src='./js/controllers.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='./css/styles.css'>
</head>
<body ng-controller='MovieController as MC'>
  <h1>You Are Beautiful</h1>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <div class='row'>
        <input class='col-md-3' type='text' placeholder='Search Movies' ng-model='movieSearch'>
        <select class='col-md-3 col-md-offset-1' ng-model='MC.filter'>
          <option value='-Year'>Year</option>
          <option value='-imdbRating'>Stars</option>
        </select>
        <button class='col-md-3 col-md-offset-1' ng-href='#/' ng-click='MC.search(movieSearch)'>Search!</button>
      </div>
    </div>
  </div>
  <div ng-view></div>
</body>
</html>
